name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  test-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: 'Login to GitHub Container Registry'
      uses: docker/login-action@v2
      with:
        username: ${{secrets.DOCKER_REGISTRY_USER}}
        password: ${{secrets.DOCKER_REGISTRY_TOKEN}}

    - name: Build the Docker image
      run: |
          docker buildx create --use
          docker buildx build --push --platform linux/amd64 -t ${{secrets.DOCKER_REGISTRY_USER}}/react-example:${{ github.sha }} .
